# General

.DS_Store
.env/*
**/.ipynb_checkpoint/*
**/data/*
**/__pycache__/*
*.pyc
**/*.egg-info
**/*.csv

# Testing
test/pennylane/qcnn/result/*
test/**/*.png

# LATEX
*.aux 
*.fdb_latexmk 
*.fls 
*.log 
*.out 
*.bbl 
*.blg 
*.lof 
*.lot 
*.toc 
*.synctex.gz
